<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/home.css" />
    <link href="/css/bootstrap-table.css" rel="stylesheet" type="text/css">
<title>党务管理网站</title>
</head>
<body>
<div class="article toolbar">
	<div class="title ue-clear">
    	<h2>常用功能</h2>
    </div>
    <div class="content">
    	<ul style="width: 1300px;height: 106px;padding: 0;">
            <li style="width:200px;height: 106px;float:left;margin: 0;padding: 0;" th:each="hotFunction,hotFunctionStatus:${hotFunction}">
                <ul class="toollist ue-clear" style="width: 300px;height: 106px;">
                    <li th:each="functionList,functionListStatus:${hotFunction.functionList}">
                        <a class="img"  th:href="${functionList.permission}"><img src="/images/file03.png" /></a>
                        <p><a th:text="${functionList.functionName}"  th:href="${functionList.permission}"></a></p>
                    </li>
                </ul>
            </li>
    	</ul>
    </div>
</div>
<div class="article half notice">
	<div class="wrap-l">
        <div class="title ue-clear">
            <h2>通知公告</h2>
        </div>
        <div class="content">
        	<ul class="notice-list">
            	<li class="ue-clear" th:each="noticeList,noticeListStatus:${noticeList}">
                	<a th:href="'/page/show/'+${noticeList.messageId}" class="notice-title" th:text="${noticeList.title}"></a>
                    <div class="notice-time" th:text="${#dates.format(noticeList.sendTime, 'yyyy-MM-dd')}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="article half matter">
	<div class="wrap-r">
        <div class="title ue-clear">
            <h2>待办公文</h2>
        </div>
        <div class="content">
        	<div class="matter-content current ue-clear">
            	<div class="today">
                	<p class="year">2020年4月</p>
                    <p class="date">25</p>
                </div>
                <ul class="matter-list">
                	<li class="ue-clear" th:each="documentList,documentListStatus:${documentList}">
                    	<span class="matter-time"th:text="${#dates.format(documentList.sendTime, 'yyyy-MM-dd HH:MM:SS')}"></span>
                        <a th:href="'/page/show/'+${documentList.messageId}" class="matter-title" th:text="${documentList.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div style="clear: both"></div>
<div class="article half duty">
	<div class="wrap-l">
        <div class="title ue-clear">
            <h2>我的任务</h2>
        </div>
        <div class="content">
            <table id="table" class="table_style"></table>
        	<table>
                	<tr>
                    	<th>任务名称</th>
                        <th>发送日期</th>
                        <th>发布人</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="taskList,taskListStatus:${taskList}">
                    	<td><a th:href="'/page/show/'+${taskList.messageId}" th:text="${taskList.title}" style="color: black"></a></td>
                        <td th:text="${#dates.format(taskList.sendTime, 'yyyy-MM-dd')}"></td>
                        <td th:text="${taskList.sender}"></td>
                        <td th:text="${taskList.remarks}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="article half email">
	<div class="wrap-r">
        <div class="title ue-clear">
            <h2>未读消息</h2>
        </div>
        <div class="content">
        	<table>
            	<thead>
                	<tr>
                    	<th class="icon"></th>
                        <th class="sender">发件人</th>
                        <th class="subject">主题</th>
                        <th class="time last-item">时间</th>
                    </tr>
                </thead>
                <tbody>
                	<tr class="tody">
                    	<td colspan="4"><div class="td-wrap"><em>今天</em><a href="javascript:;">(5封)</a></div></td>
                    </tr>
                    <tr th:each="messageList,messageListStatus:${messageList}">
                    	<td class="icon"><div class="td-wrap"></div></td>
                        <td><div class="td-wrap" th:text="${messageList.sender}"></div></td>
                        <td class="subject"><div class="td-wrap"><a th:href="'/page/show/'+${messageList.messageId}" th:text="${messageList.title}"></a></div></td>
                        <td class="time"><div class="td-wrap" th:text="${#dates.format(messageList.sendTime, 'yyyy-MM-dd')}"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script src="/js/layer_v2.1/layer/layer.js"></script>
</html>
