<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pam.party_affairs_manegement.mapper.OrganizationMapper">
	<resultMap type="com.pam.party_affairs_manegement.domain.Organization" id="BaseResultMap">
		<id column="organization_id" property="organizationId" jdbcType="INTEGER"/>
		<result column="organization_name" property="organizationName" jdbcType="VARCHAR"/>
		<result column="organization_leader" property="organizationLeader" jdbcType="VARCHAR"/>
		<result column="organization_info" property="organizationInfo" jdbcType="VARCHAR"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="telephone" property="telephone" jdbcType="VARCHAR"/>
		<result column="entry_time" property="entryTime" jdbcType="DATE"/>
	</resultMap>
	<insert id="insert"  parameterType="com.pam.party_affairs_manegement.domain.Organization">
		insert into tb_organization(organization_name,organization_leader,organization_info,telephone,parent_id,entry_time)
		values(#{organizationName},#{organizationLeader},#{organizationInfo},#{telephone},#{parentId},#{entryTime})
	</insert>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from tb_organization
	</select>

	<select id="selectByName" resultMap="BaseResultMap">
		select * from tb_organization
		where organization_name=#{organizationName}
		or organization_leader=#{organizationLeader}
	</select>

	<select id="selectById" resultMap="BaseResultMap">
		select * from tb_organization
		where organization_id=#{organizationId}
	</select>

	<update id="update" parameterType="com.pam.party_affairs_manegement.domain.Organization">
		update tb_organization set organization_id=#{organizationId},organization_name=#{organizationName},organization_leader=#{organizationLeader},
		                           organization_info=#{organizationInfo},telephone=#{telephone},parent_id=#{parentId}
		where organization_id=#{organizationId}
	</update>
	
	<delete id="delete" parameterType="com.pam.party_affairs_manegement.domain.Organization">
		delete from tb_organization
		where organization_id=#{organizationId}
	</delete>
</mapper>