<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pam.party_affairs_manegement.mapper.UserMapper">
	<resultMap type="com.pam.party_affairs_manegement.domain.Users" id="BaseResultMap">
		<id column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="VARCHAR"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="img" property="img" jdbcType="VARCHAR"/>
		<result column="organization" property="organization" jdbcType="INTEGER"/>
		<result column="role" property="role" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="entry_time" property="entryTime" jdbcType="DATE"/>
	</resultMap>
	<insert id="insert"  parameterType="com.pam.party_affairs_manegement.domain.Users">
		insert into tb_user(user_name,password,sex,birthday,img,organization,role,status,entry_time)
		values(#{userName},#{password},#{sex},#{birthday},#{img},#{organization},#{role},#{status},#{entryTime})
	</insert>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from tb_user
	</select>

	<select id="selectByName" resultMap="BaseResultMap">
		select * from tb_user
		where userName=#{userName}
	</select>

	<select id="selectById" resultMap="BaseResultMap">
		select * from tb_user
		where user_id = #{userId}
	</select>

	<update id="update" parameterType="com.pam.party_affairs_manegement.domain.Users">
		update tb_user set user_name=#{userName},password=#{password}, sex=#{sex},birthday=#{birthday}, img=#{img}, organization=#{organization}, role=#{role},
		                status=#{status},entry_time={entryTime}
		where user_id=#{userId}
	</update>
	
	<update id="upImg" parameterType="com.pam.party_affairs_manegement.domain.Users">
		update tb_user set img=#{img}
		where user_id=#{userId}
	</update>
	
	<delete id="deleteById" parameterType="com.pam.party_affairs_manegement.domain.Users">
		delete from tb_user
		where user_id=#{userId} 
	</delete>
</mapper>