<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>角色修改</title>
    <link href="/css/tail.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        function change() {
            var height01 = $(window).height();
            $(".top").css('height', height01 - 35+"px");
        }
    </script>
</head>

<body onload="change()" style="border-radius: 8px">
<form id="form_demo" th:action="'/role/edit/'+${roleId}">
<div class="top">
    <div>
        <div class="top_out">
            <table class="table" >
                <tbody>
                <tr>
                    <td style="text-align: left;border-top: none;color: #1aa917">角色修改</td>
                </tr>
                <tr>
                    <td>角色ID：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" readonly="readonly" class="text" id="userId" name="userId" th:value="${roleRecord.roleId}"></td>
                    <td>角色名称：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="text" id="userName" name="userName" th:value="${roleRecord.role}"></td>
                </tr>
                <tr>
                    <td>状态：</td>
                    <td colspan = "3" style="text-align: left"><select id="status" name="status">
                        <option th:selected="${roleRecord.status} eq '有效' ">有效</option>
                        <option th:selected="${roleRecord.status} eq '无效' ">无效</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label style="float: left;line-height: 60px">角色描述：</label></td>
                    <td><textarea style="height: 400px" id="description" name="description"></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bot_btn">
        <input class="btn" type="submit" value="保存"/>
        <button class="btn btn1"><a href="/user/userManagement" target="right">返回</a></button>
    </div>
</div>
</form>
</body>
<script src="/js/date/js/laydate.js"></script>
<script type="text/javascript">
    //时间格式化函数
    function getFormatTime(time) {
        var time = new Date(parseInt(time));
        var y = time.getFullYear();
        var m = time.getMonth() + 1;
        var d = time.getDate();
        var h = time.getHours();
        var mm = time.getMinutes();
        var s = time.getSeconds();
        return y + '-' + add0(m) + '-' + add0(d) + ' ' + add0(h) + ':' + add0(mm) + ':' + add0(s);
    }
</script>
</html>
