<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>缴费情况</title>
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link href="/js/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/js/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #e6ecf5">
<div class="book_con01">

    <h1 class="book_h01">党费使用情况</h1>
    <form id="form_demo" >   <p class="book_p">
        <table class="book_table" border="1" cellpadding="10">
    <tr>
        <td>
        <label class="td_label">党费收缴、使用和管理情况的报告：</label>
    </td>
<tr>
    <td colspan="6">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        我校党委高度重视党费收缴和管理工作，严格执行党费收缴、管理和使用制度，坚持把党费收缴工作与严格党的组织生活和党员教育管理相结合，对加强党的建设起到了积极的促进作用。经过多年的探索，逐渐建立起一套比较规范、完善的党费收缴、使用和管理办法。主要有以下几个方面工作：

        </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.党费实行独立账户管理。党费以单独立户存放的模式，严格按照上级党委的要求，将党费完全用于党的活动。各基层党支部自觉把党费收缴和管理工作作为党建工作的一项重要工作来抓，把按时交纳党费作为党员进行组织观念教育的重要内容，不断增强广大党员交纳党费的自觉性，确保了党费收缴、管理工作的顺利开展。

        </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.党费收缴严格按标准执行。党费收缴以国家规定的工资总额中相对固定的、经常性的工资收入为计算基数，每月按规定比例缴纳。广大党员按规定比例及时、足额缴纳党费，各党支部将每个党员缴纳党费的情况详细登记，及时如数上缴党组织，不存在截留党费的现象。

        </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.党费收缴管理工作有专人负责。校党委在党费收缴、管理上严格按照财务制度操作，一名党办同志和一名财务科同志负责此项工作。在党费的使用上，专款专用，账目清楚，手续齐全，开支合理，在党费的收缴、管理等方面做到了及时收缴、及时上缴、账目清楚。

        </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.建立党费收缴登记制度。为使党费收缴工作规范化，统一购置党费收缴、使用、管理所需的各种簿、册、表，做到党员交纳党费有登记，基层党支部缴纳党费有收据，原始单据保存完好。同时认真做好党费收缴原始收据、登记册以及党费收支票据的归档工作，以便长期备查，通过完善对党费收缴、使用和管理工作，做到了党费及时上缴和专款专用，充分发挥了党费在促进党建工作中的作用。

        </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今后我校将在上级党委的领导下，进一步完善各种相关制度，加强党费管理，强化检查督促，不断提高我校的党费收缴、管理和使用工作的制度化、规范化水平。
    </td>
</tr>
        <tr>
            <td colspan="6" style="text-align: center">使用情况</td>
        </tr>
</table>
        <table class="book_table" border="1">
            <tr><td>时间</td><td>党费情况</td><td>党费使用</td></tr>
            <tr><td>2012年1月至2016年底</td><td>收党费</td><td>+162470.70元</td></tr>
            <tr><td>2008年4月至2016年12月</td><td>补缴党费</td><td> +283498.20元</td></tr>
            <tr><td>2012年1月至2016年底</td><td>利息收入</td><td>815.38元</td></tr>
            <tr><td>2008年4月至2016年12月</td><td>离退休党员活动、新党员培训、购买党员学习材料、优秀党员奖励、慰问党员等</td><td> -3498元</td></tr>
            <tr><td>截止2016年12月30日</td><td>合计：收支相抵</td><td>178608.90元</td></tr></br>
        </table>
    </p>
        <a herf="/page/index"><p class="book_foot"><input type="submit" value="关闭"/></p></a></form>
</div>
<script  src="/js/jquery.js"></script>
<script src="/js/date/js/laydate.js"></script>
</body>
</html>
